:root {
    --primary-color: rgb(7, 7, 124);
    --white-color: white;
    --background-color: #F6F5F2;
    --font-famly: 'Open Sans', sans-serif; 
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--background-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    opacity: 0.4;
  }

::selection {
    background-color: var(--primary-color);
    color: var(--white-color);
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-famly);
}



