.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.intro {
    font-weight: 400;
    width: 100%;
    font-style: normal;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-align: center;
    margin-right: 1rem;
    width: 23rem;
    display: inline-block;
    overflow-x: hidden;
}

.intro span {
    color: var(--primary-color);
}

.icon {
    padding: 10px;
    margin-right: 9px;
    margin-top: 3px;
    min-width: 50px;
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
}

.input-field {
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    font-size: 1.2rem;
}

.input-field:focus {
    border-bottom: 2px solid var(--primary-color);
}

.login-btn {
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 1rem 3rem;
    border: none;
    cursor: pointer;
    text-align: center;
    opacity: 1;
    position: relative;
    left: 50px;
    top: 1.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
}
.login-btn:hover {
    opacity: .9;
}

.form-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.icon-white {
    color: var(--white-color);
}