table {
    width: 100%;
    border-collapse: collapse;
    border-right: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

th {
    height: 40px;
}

td, th {
    text-align: left;
    padding: 8px;
}


tbody > tr:nth-child(odd) {
    background-color: var(--background-color);
}

tbody > tr:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

thead {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.table-container {
    overflow-x: auto;
    overflow-y: auto;
}